@using SchoolWebEFNimaV2.Models
@model Course


@{
    ViewBag.Title = "AddStudentsFrom";
}

<h3>
    @Html.LabelFor(model => model.CourseName , "CourseName", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DisplayFor((model => model.CourseName))
    
    @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
</h3>


<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-group">
    @Html.LabelFor(model => model.Students.First().StudentID, "StudentName", htmlAttributes: new { @class = "control-label col-md-2" })

    @*Here i had some problem to get into the studentId since the model was set on the course, and i had to get into students, in order to fix it i had to get 
    to get into it by model => model.Students.First().StudentI*@D
    <div class="col-md-10">
        @Html.DropDownList("StudentId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Students.First().StudentID, "", new { @class = "text-danger" })

        @* the Id for course will be send to the method by HiddenFor*@
        @Html.HiddenFor(model => model.CourseID)
    </div>
</div>
<p></p>
<br />

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="ADD" class="btn btn-default" />
    </div>
</div>
}
