
@using SchoolWebEFNimaV2.Models
@model Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher.TeacherLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.TeacherLastName)
        </dd>
    </dl>


    <h2>Students in This course</h2>
        @if (Model.Students != null && Model.Students.Count > 0)
            {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>First Name</td>
                        <td>Laste Name</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Student student in Model.Students)
                {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => student.StudentFirstName)</td>
                            <td>@Html.DisplayFor(modelItem => student.StudentLastName)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    <h2>Assignments for this course</h2>
    @if (Model.Assignments != null && Model.Assignments.Count > 0)
            {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Assignment Title</td>
                    <td>Upload date</td>
                    <td>Deadline</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Assignment Assignment in Model.Assignments)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Assignment.AssignmentName)</td>
                        <td>@Html.DisplayFor(modelItem => Assignment.UploadDate)</td>
                        <td>@Html.DisplayFor(modelItem => Assignment.DeadlineDate)</td>
                    </tr>
                }
            </tbody>
        </table>
    }



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
