@using SchoolWebEFNimaV2.Models
@model Student


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

    </dl>

@if (Model.Courses != null && Model.Courses.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>

            </tr>
        </thead>
        <tbody>
            @foreach (Course course in Model.Courses)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => course.CourseName)</td>
                </tr>
            }

        </tbody>
    </table>
}

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
